sistema_imobiliario/.phpunit.cache
sistema_imobiliario/node_modules
sistema_imobiliario/public/build
sistema_imobiliario/public/hot
sistema_imobiliario/public/storage
sistema_imobiliario/storage/*.key
sistema_imobiliario/.env
sistema_imobiliario/.env.backup
sistema_imobiliario/.env.production
sistema_imobiliario/.phpunit.result.cache
sistema_imobiliario/Homestead.json
sistema_imobiliario/Homestead.yaml
sistema_imobiliario/auth.json
sistema_imobiliario/npm-debug.log
sistema_imobiliario/yarn-error.log
sistema_imobiliario/.fleet
sistema_imobiliario/.idea
sistema_imobiliario/.vscode
